<div class="container-fluid grid-masonry">
    <div class="grid-masonry__card" *ngFor="let imagegallery of "></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
    <div class="grid-masonry__card"></div>
</div>