<nav class="dev-nav">
  <h5 class="mt-1 dev-nav__title">Front End Development</h5>
  <ul class="nav">
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="['/page-one']" [routerLinkActive]="['active']">CSS Grid</a></li>
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="'/page-two'" [routerLinkActive]="['active']">Page Two</a></li>
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="'/page-three'" [routerLinkActive]="['active']">Page Three</a></li>
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="'/page-four'" [routerLinkActive]="['active']">Page Four</a></li>
    <li class="nav-item dev-nav__item"><a class="nav-link dev-nav__link" [routerLink]="'/page-five'" [routerLinkActive]="['active']">Page Five</a></li>
  </ul>
</nav>
