////////////////////////////////////////////////////////////////////////////////
// BASE COLORS
////////////////////////////////////////////////////////////////////////////////


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$green:                          #4fa11b!default;
$white:                          #fff;
$gold:                           #c5ac2f!default;
$red:                            #ba202f;


$dropshadows:                    rgba(0,0,0,0.4);

$transparent:                    transparent;

// BASE Colors

$base-text-clr:                  $gray-700;
$base-body-clr:                  $white;

//star ratings

$filled-star-color:              $gold;
$empty-star-color:               $gold;
$star-size:                      17px;

//specialOffer-color

$specialOffer-color:             $green;


////////////////////////////////////////////////////////////////////////////////
// THEME COLORS
////////////////////////////////////////////////////////////////////////////////

// $theme-primary-clr:             #c5ac2f !default; // Westgate color
$theme-primary-clr:              #4d4347 !default; // Default color
// $theme-secondary-clr:           #19212c ; // Westgate color
$theme-secondary-clr:            #0094cd ; // Default color
$theme-tertiary-clr:             $gray-700;


// Calendar Months

$calendar-clr:                   $theme-primary-clr;
$calendarText-clr:               $white;


$sponsored-clr:                  $theme-primary-clr;
